
<div id="container">
  <div class="col-content">
      <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
          <select name="weather" ngModel>
              <option value="" selected disabled>--Pick an option--</option>
              <option *ngFor="let option of weatherOptions">{{option}}</option>
          </select>
          <button>Submit</button>
      </form>
  </div>
  <div class="col-content">
      <table *ngIf="weathers.length > 0">
          <thead>
              <tr>
                  <td>Cityname</td>
                  <td>Weather description</td>
                  <td>Temperature</td>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let weather of weathers">
                  <td>{{weather.name}}</td>
                  <td>{{weather.weather[0].description}}</td>
                  <td>{{weather.main.temp}}</td>
              </tr>
              <tr>
                  <td colspan="3" [hidden]="loader">...</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>

